input[type="search"] {
    margin-top: 15px;
    width: 300px;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  input:focus {
    outline: none;
  }
  